.about {
  display: flex;
  flex-wrap: wrap;

  &--margin {
    margin-bottom: 16px;
  }

  &__inner {
    margin-bottom: 16px;
    padding: 16px;

    .about__text-box {
      display: flex;
      flex-direction: column;
      row-gap: 15px;

      max-height: 3000px;
      overflow-x: hidden;

      transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);

      .about__text {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #1B1C21;
      }


      &--hidden {
        max-height: 155px;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
        transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
      }

      &--hidden::-webkit-scrollbar,
      &::-webkit-scrollbar {
        display: none;
      }

      @include breakpoint(596px) {
        max-width: 490px;
      }
    }

    .about__button {
      padding-top: 10px;
    }

    @include breakpoint(768px) {
      padding: 0 24px;
    }

    @include breakpoint(1440px) {
      padding: 0 32px;
    }
  }

  &__image-box {

    width: 531.35px;
    height: auto;


    .about__image {

      max-width: 100%;
      object-fit: contain;

      @include breakpoint(768px) {
        padding: 0 24px;
      }

      @include breakpoint(1440px) {
        padding: 0 28.65px 0 0;
      }
    }


  }

  @include breakpoint(596px) {
    flex-wrap: nowrap;
    margin-bottom: 24px;
  }

  @include breakpoint(1120px) {
    justify-content: space-between;
    margin-bottom: 56px;
  }
}



