.button-more {
  display: flex;
  gap: 8px;
  align-items: baseline;

  background: inherit;

  .button-more__arrow {
    width: 24px;
    height: 24px;

    padding: 7px 8px 8px 8px;

    transform: rotate(0deg);

    &.button__arrow--rotate {
      transform-origin: 12px 16px;
      transform: rotate(180deg);
    }
  }

  &__content {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;

    color: $textPrimary;

    transition: all 0.1s ease-in-out;

    @include breakpoint(1120px) {

      &:hover {
        color: #ff0077;
        text-shadow:
          1px 1px 1px #00000086,
          10px 1px 20px #00f7ffb2,
          -30px 1px 20px #00f7ff86;
      }
    }

  }

  &--padding--xs {
    padding: 16px 16px 0 0;
  }
}




