.kinds {

  &__grid {
    height: 228px;
    padding: 16px 0 0 0;

    .kinds__list {
      //************

      .kinds__item {
        margin: 0;

        .kinds__link {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          height: 160px;

          padding: 16px;
          margin-left: 16px;

          background: #ffffff;
          border: 1px solid #eaeaea;
          border-radius: 6px;

          @include breakpoint(768px) {
            min-width: 224px;
            margin: 0;
          }

          @include breakpoint(1120px) {
            min-width: 240px;
            margin: 0;
          }

          .kinds__text {
            @extend %typeset-medium;

            align-self: flex-start;
          }

          .kinds__image {
            align-items: flex-end;
          }
        }

      }

      @include breakpoint(768px) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
        grid-template-rows: auto;
        column-gap: 24px;
        row-gap: 24px;

        max-height: 3000px;
        overflow-x: hidden;

        transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);

        &--hidden {
          max-height: 160px;
          overflow-x: hidden;
          -ms-overflow-style: none;
          scrollbar-width: none;
          transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
        }

        &--hidden::-webkit-scrollbar,
        &::-webkit-scrollbar {
          display: none;
        }
      }

      @include breakpoint(1120px) {
        grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
        column-gap: 24px;
      }

      @include breakpoint(1440px) {
        grid-template-columns: repeat(auto-fit, 240px);
        column-gap: 32px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 13px;
      right: 0;
      z-index: 1000;
      width: 24px;
      height: 166px;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }


    @include breakpoint(768px) {
      height: auto;
      padding: 24px 24px 24px 24px;
    }

    @include breakpoint(1120px) {
      padding: 24px 24px 32px 32px;
    }
  }
}
