.main {
  background: $mainBgColor;
  position: relative;
  z-index: 100;

  &__title {
    display: flex;
    gap: 16px;
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;

    letter-spacing: -0.6px;

    color: $textPrimary;

    &::before {
      position: relative;
      left: 0;
      top: 0;

      width: 4px;
      height: 40px;

      border-radius:  0 5px 5px 0;
      background: #41F6D7;
      content: "";
    }

    &--padding--xs {
      padding: 0 0 24px;
    }

    &--padding--sm {
      padding: 0 0 24px;
    }

    @include breakpoint(768px) {
      gap: 24px;
    }
  }


}
