.modal-call {
  display: flex;
  flex-direction: column;

  max-width: 360px;
  height: 100vh;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 6000;

  background: #FFFFFF;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);

  &__btn-closed {
    position: absolute;
    top: 24px;
    left: 16px;

    @include breakpoint(1120px) {
      left: -72px;
    }

  }

  &__form-box {
    position: relative;
    top: 104px;

    .modal-call__title {
      @extend %typeset-bold;

      align-items: flex-end;
    }

    .form__field {
      @extend %typeset-medium;

    }

    @include breakpoint(1120px) {
      top: 24px;
    }
  }

  transform: translateX(600px);
  transition: transform 0.4s ease-in;

  &--active {
    transform: translateX(0px);
    transition: transform 0.4s ease-out;
  }

  @include breakpoint(768px) {
    max-width: 320px;
  }

  @include breakpoint(1120px) {
    max-width: 440px;
  }

}
