.modal-feedback {
  display: flex;
  flex-direction: column;

  max-width: 360px;
  height: 100vh;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 4000;

  background: #FFFFFF;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);

  &__btn-closed {
    position: absolute;
    top: 24px;
    left: 16px;
  }

  &__form-box {
    position: relative;
    top: 104px;

    .modal-feedback__title {
      @extend %typeset-bold;

      align-items: flex-end;
    }
  }

  transform: translateX(600px);
  transition: transform 0.4s ease-in;

  &--active {
    transform: translateX(0px);
    transition: transform 0.4s ease-out;
  }

  @include breakpoint(768px) {
    max-width: 320px;
    overflow-x: scroll;
  }

}
