.nav-sidebar {
  flex-grow: 1;
  margin-bottom: 50px;

  position: relative;
  top: 50px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;


    .nav-sidebar__item {
      display: flex;
      align-items: center;
      height: 32px;

      .nav-sidebar__link {
        @extend %typeset-medium;

        display: block;

        padding: 0 0 0 16px;
      }

      &::before {
        display: block;
        width: 4px;
        height: 32px;
        position: relative;
        left: 0;
        top: 0;

        border-radius:  0 5px 5px 0;

        background: $highLightColor;
        opacity: 0;

        content: "";
      }

      &:hover::before,
      &--active::before {
        opacity: 1;
      }

      &:hover,
      &--active {
        > .nav-sidebar__link {
          color: $textSecondary;
        }
      }
    }
  }
}
