.nav {
  position: relative;

  &::after {
    position: absolute;
    top: 2px;
    right: 0;
    width: 24px;
    height: 40px;
    background: $linearGradientToEnd;

    content: '';
  }


  &__list {
    display: flex;
    justify-content: space-between;

    align-items: center;

    list-style: none;
    overflow-x: auto;

    .nav__item {
      display: flex;
      min-height: 40px;
      white-space: nowrap;

      .nav__link {
        padding: 8px 16.54px 8px 16.54px;

        font-family: inherit;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #7E7E82;
        border: 2px solid transparent;
        border-radius: 6px;
      }

      .nav__link--active,
      .nav__link:focus,
      .nav__link:active,
      .nav__link:hover {
        border: 2px solid #B8FFEC;
      }

    }

    &--padding {
      padding: 0 16px;

      @include breakpoint(768px) {
        padding: 0 24px;
      }


      @include breakpoint(1120px) {
        flex-wrap: wrap;
      }

      @include breakpoint(1440px) {
        padding: 0 32px;
      }
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }




  }



  &--mb--xs {
    margin: 0 0 24px 0;
  }

}






