.nav {
  position: relative;

  &::after {
    position: absolute;
    top: 2px;
    right: 0;
    width: 24px;
    height: 40px;
    background: $linearGradientToEnd;

    content: '';
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow-x: auto;

    .nav__item {
      display: flex;
      align-content: flex-start;
      min-height: 40px;
      white-space: nowrap;
      padding-top: 2px;

      .nav__link {
        @extend %typeset-medium;
        padding: 8px 16.54px 8px 16.54px;

        color: #7E7E82;
        border: 2px solid transparent;
        border-radius: 6px;

        transition: all 0.1s ease-in-out;

        &--active,
        &:active {
          border: 2px solid #B8FFEC;
          transform: translateY(0);
        }

        @include breakpoint(1120px) {

          &:hover {
            border-bottom: 2px solid #FF3E79;
            transform: translateY(-2px);
          }

          &--active,
          &:active {
            border: 2px solid #B8FFEC;
            transform: translateY(0);
          }
        }
      }
    }

    &--padding {
      padding: 0 16px;

      @include breakpoint(768px) {
        padding: 0 24px;
      }

      @include breakpoint(1120px) {
        flex-wrap: wrap;
      }

      @include breakpoint(1440px) {
        padding: 0 32px;
      }
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &--mb--xs {
    margin: 0 0 24px 0;
  }
}






