.order {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: end;

  width: 260px;
  height: 200px;

  padding: 16px;
  margin: 16px 16px 0 8px;

  background: #ffffff;
  border-radius: 6px;

  &__table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;

    .order__title {
      font-size: 14px;
      line-height: 16px;
      /* identical to box height, or 114% */


      color: $textSecondary;

      mix-blend-mode: normal;
      opacity: 0.72;
    }

    .order__text {
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      margin-top: 4px;

      letter-spacing: 0.2px;

      color: $textPrimary;
    }
  }


}
