.price {
  &__grid {
    height: 245px;


    &::after {
      content: "";
      position: absolute;
      top: 16px;
      right: 0;
      z-index: 1000;
      width: 24px;
      height: 200px;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }

    .price__pagination {
      bottom: 0;
    }
  }



  .price__info-box {

    &--padding--xs {
      padding: 10px 16px 16px 16px;
    }

    .price__info-text {
      font-size: 14px;
      line-height: 20px;
      font-weight: normal;

      letter-spacing: 0.2px;

      color: $textPrimary;
    }

    .price__offer {
      display: inline-block;
      position: relative;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;

      letter-spacing: -0.2px;

      color: $textPrimary;

      &--padding--xs {
        padding: 16px 0 0 0;
      }

      &::after {
        position: absolute;
        left: 111.4px;
        bottom: 8px;
        width: 6px;
        height: 6px;
        border-left: 2px solid #FF3E79;
        border-top: 2px solid #FF3E79;

        transform: rotate(135deg);



        content: '';
      }
    }

  }
}
