.price {

  &__grid {
    height: 245px;

    .price__item {

      @include breakpoint(768px) {
        &:not(:last-child)
          .order__table {
            border-bottom: 1px solid #EAEAEA;

            &:hover {
              border-bottom: 1px solid #63fad2;
            }

        }

        &:not(:first-child)
          .order__title {
            display: none;
        }

        &:first-child
        .order__title {
          display: flex;
          position: absolute;
          top: -5px;
        }
      }
    }

    .price__pagination {
      bottom: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 16px;
      right: 0;
      z-index: 1000;
      width: 24px;
      height: 200px;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }

    @include breakpoint(768px) {
      height: auto;

      .price__list {

        background: #FFFFFF;
        border: 1px solid transparent;
        border-radius: 6px;
      }

      &--padding-sm {
        padding: 24px;
      }

      &--margin--sm {
        margin: 39px 0 0 0;
      }

      &::after {
        display: none;
      }
    }

    @include breakpoint(1440px) {

      &--padding-md {
        padding: 24px 32px;
      }

    }
  }

  .price__info-box {
    max-width: 420px;

    .price__info-text {
      font-size: 14px;
      line-height: 20px;
      font-weight: normal;

      letter-spacing: 0.2px;

      color: $textPrimary;

      &--mb {
        margin: 0 0 16px 0;
      }
    }

    .price__offer {
      @extend %typeset-medium;

      .price__offer-arrow {
        position: relative;

        &::after {
          position: absolute;
          right: -15px;
          top: 1px;

          content: url(../img/price/line.svg);
        }
      }
    }
  }
}
