.price {
  &__grid {
    height: 260px;


    &::after {
      content: "";
      position: absolute;
      top: 16px;
      right: 0;
      z-index: 1000;
      width: 24px;
      height: 200px;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }
  }
}
