.sidebar {
  display: flex;
  flex-direction: column;

  min-width: 100%;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;

  overflow-x: scroll;

  background: #FFFFFF;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);

  transform: translateX(-1000px);
  transition: transform 0.5s ease-in-out;

  &__search-form {
    position: relative;
    right: 16px;
    top: 24px;
    margin: 0 0 0 auto;

    @include breakpoint(1120px) {
      right: 29px;
      top: 35px;
    }
  }

  &__footer {
    margin-top: 43px;

  }

  &--active {
    transform: translateX(0px);
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 360px) and (max-width: 767px) {
    min-width: 360px;
  }

  @include breakpoint(768px) {
    min-width: 320px;
  }

  @include breakpoint(1120px) {
    left: auto;
    z-index: 1000;

    height: 100vh;

    transform: translateX(0px);
    transition: unset;
    box-shadow: unset;

    &__footer-after {
      width: 1px;
      height: 1px;

      flex-grow: 1;

    }
  }
}


