.sidebar {
  display: flex;
  flex-direction: column;

  width: 320px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;

  background: #FFFFFF;
  box-shadow:
      -2px 0px 4px 0 rgba(69, 79, 126, 0.02),
      16px 0px 52px 0 rgba(14, 24, 80, 0.2);

  transform: translateX(-1000px);
  transition: all 0.5s ease-in;

  &--active {
    transform: translateX(0px);
    transition: all 0.5s ease-out;
  }

  // &__nav {
  //   position: relative;
  //   top: 100px;
  // }
}

.sidebar__search-form {
  display: none;
}
