.support {
  display: flex;
  right: 0;
  transform: translate3d(0, 0, 0);

  margin-left: auto;

  .support__list {
    display: flex;
    align-items: center;
    gap: 16px;

    .support__item  {
      display: flex;
      align-items: center;

      .support__text {
        font-family: inherit;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;

        color: #1B1C21;

        width: 0;
        height: 0;
        overflow: hidden;
        transform: translateX(-1000px);

        @include breakpoint(1120px) {
          padding: 0 8px 0 0;

          width: 100%;
          height: 100%;
          overflow: hidden;
          transform: translateX(0);
        }
      }
    }

    @include breakpoint(1120px) {
      gap: 32px;
    }
  }

  &::before {
    @extend %divider;

    position: relative;
    left: -20px;
    top: 5px;
  }

  @include breakpoint(768px) {
    margin: unset;
  }

  @include breakpoint(1120px) {
    transform: translate3d(-5px, 118px, 0);

    &::before {
      display: none;
    }
  }
}
