.title {
  font-family: inherit;

  &--h2 {
    display: block;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.2px;
    text-transform: uppercase;

    border-top: 1px solid #D9FFF5;
    color: $textSecondary;
  }

  &--padding--xs {
    padding: 16px 16px 16px 16px;
  }
}
