%pink-circle {
  min-width: 40px;
  min-height: 40px;

  background-color: #FF3E79;
  border-radius: 50%;
}

%divider {
  width: 2px;
  height: 32px;
  margin-left: 40px;

  background: #EAEAEA;
  border-radius: 1px;
  text-align: center;

  content: "";
}

%typeset-normal {
  font-family: 'TT Lakes', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;

  letter-spacing: 0.2px;

  color: $textPrimary;
}

%typeset-medium {
  font-family: 'TT Lakes', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  letter-spacing: -0.2px;

  color: $textPrimary;
}

%typeset-bold {
  font-family: 'TT Lakes', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;

  letter-spacing: -0.6px;

  color: $textPrimary;

}
