@import '../fonts/fonts.css';

@import 'vars';
@import 'mixins';
@import 'extend';
@import 'vendor/reset';

body {
  font-family: 'TT Lakes', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button:focus,
button:active,
button:enabled,
button:hover {
  outline: none;
  border: none;
}



/* Blocks */

@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/logo';
@import 'blocks/feedback';
@import 'blocks/support';
@import 'blocks/sidebar';
